@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar-track,.scrollbar::-webkit-scrollbar-thumb,.scrollbar::-webkit-scrollbar-button,.scrollbar::-webkit-scrollbar-track-piece {
    display: none;
    background-color: black;
}